:root{
    --accent-color: #46A358;
    --secondary-color: #3D3D3D;
    --main-color:#ffffff;
    --bg-secondary-color:#FBFBFB;

    --font-sm:14px;
    --font-md:16px;
    --font-xl:18px;

    --content-width:1300px;

    --categories-menu-width:310px;
    --catalog-gap:50px;
    --categories-menu-full-width: calc(var(--categories-menu-width)+ var(--catalog-gap));
}

body{

    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: var(--font-md)
}

a{
    font-size: var(--font-md);
    color: var(--secondary-color);
    text-decoration: none;
    display: inline-block;
}


.container{
    max-width: var(--content-width);
    margin: 0 auto;
    padding: 0 15px;
}


.catalog{
    margin-top: 20px;
}


.catalog__content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.catalog__categories{
    background-color:var(--bg-secondary-color);
    padding: 15px;
    min-width:310px;
    max-width: var(--categories-menu-width);
    margin-bottom: 15px;
}


.catalog__categories h4{
    font-size: var(--font-xl);
    font-weight: bold;
    margin-bottom: 15px;
}

.catalog__content a.active{
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
}

.catalog__categories a{
    color: var(--secondary-color);
    margin-bottom:10px;
}

.catalog__categories li{
    margin-bottom: 10px;}

.catalog__categories li:last-child {
    margin-bottom: 0;
}

.catalog__categories ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    gap: 10px;
    margin-bottom: 50px;
}

.catalog__product-image{
    max-width: 100%;
    height: auto;
}

.categories__sale{
    display:flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;

}

.categories__sale-title{
    font-size:50px;
    font-weight: 400;
}

.categories__sale-product{
    font-size: 23px;
    font-weight:700;
}

.categories__sale h3{
    color: var(--accent-color);
}

.catalog__menu{
    display: inline-block;
    max-height: 20px;
}

.catalog__menu ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    gap: 40px;
    width: 840px;
}

.catalog__menu li:last-child{
    margin-left: 350px;
}

.catalog__sale-active{
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid var(--accent-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.catalog__product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    max-height: 350px;
    margin-top: 225px;
    margin-bottom: 100px;
    width: calc(100%/3 - 50px);
}


.catalog__products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 200px;
    gap: 10px;
    /*width: 100%;*/
    /*width: 840px;*/
    width: calc(100% - var(--categories-menu-full-width));
}

.catalog__product-price{
    color: var(--accent-color);
    padding-left: 100px;
    padding-top: 10px;
    font-weight: bold;
}

.catalog__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
    padding: 4px 11px 3px;
    color: #696969;
    font-size: 13px;
    line-height: 23px;
    background: #f7f7f7;
    border-radius: 3px 3px 3px 3px;
}

.catalog__product-title{
    padding-left: 100px;
}

.catalog__page{
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    line-height: 23px;
    max-width: 400px;
    max-height: 150px;
    padding: 10px 13px 10px;
    border: 1px solid #dedede;
}

.catalog__page__numbers-1{
    display: flex;
    flex-wrap: wrap;
    background-color: #46A358;
    color: white;
    font-weight: bold;
    font-size: 13px;
    line-height: 23px;
    max-width: 400px;
    max-height: 150px;
    padding: 10px 13px 10px;
    border: 1px solid #dedede;
}

/*
.catalog__list li a::before {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    position: absolute;
    left: -20px;
    transform: translateY(-50%);
}*/