:root{
    --accent-color: #46A358;
    --secondary-color: #3D3D3D;
    --main-color:#ffffff;
    --bg-secondary-color:#FBFBFB;

    --font-sm:14px;
    --font-md:16px;
    --font-xl:18px;

    --content-width:1300px;

    --categories-menu-width:310px;
    --catalog-gap:50px;
    --categories-menu-full-width: calc(var(--categories-menu-width)+ var(--catalog-gap));
}

body{

    font-family: "Cera Pro DEMO", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: var(--font-md)
}

a{
    font-size: var(--font-md);
    color: var(--secondary-color);
    text-decoration: none;
    display: inline-block;
}


.container{
    max-width: var(--content-width);
    margin: 0 auto;
    padding: 0 15px;
}


.catalog{
    margin-top: 20px;
}


/*MENU-HEADER*/


.catalog__content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}


.catalog__categories{
    position: fixed;
    background-color:var(--bg-secondary-color);
    top: 0;
    left: 20px;
    width: 200px;
    padding: 20px;
}


.categories__sale{
    display:flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;

}

.categories__sale-title{
    font-size:50px;
    font-weight: 400;
}


.categories__sale-product{
    font-size: 23px;
    font-weight:700;
}


.menu-list-4{
    margin-left: 150px;
}

.fa-solid{
    padding: 0;
}


.catalog__menu{
    display: flex;
    max-height: 20px;
    color: black;
}

.menu-list-2,
.menu-list-3,
.menu-list-4{
    color: var(--secondary-color);
}

.catalog__categories h4{
    font-size: var(--font-xl);
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 10px;
}


.catalog__content a.active{
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;

}

.catalog__categories a{
    color: var(--secondary-color);
    margin-bottom:10px;
}


.catalog__categories a:hover{
    font-weight: bold;
    color: var(--accent-color);
}


.catalog__categories li:last-child {
    margin-left: 0;
}

.catalog__categories ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    gap: 10px;
    margin-bottom: 50px;
}

.categories__sale h3{
    color: var(--accent-color);
}


.catalog__menu ul{
    display: flex;
    flex-wrap: wrap;
    color: var(--secondary-color);
    margin-left: 50px;
    gap: 40px;
    width: 840px;
}

.catalog__menu li:last-child{
    display: flex;
    padding-left: 150px;
}

.catalog__sale-active{
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid var(--accent-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}



.catalog__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
    padding: 4px 11px 3px;
    color: #696969;
    font-size: 13px;
    line-height: 23px;
    background: #f7f7f7;
    border-radius: 3px 3px 3px 3px;
}



/*MIDDLE CONTENT*/


.catalog__product{
    flex: 30%;
}


.catalog__products{
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-left: 100px;
    gap: 25px;
    width: calc(100%- var(--categories-menu-full-width));
}


.catalog__product-price{
    display: flex;
    color: var(--accent-color);
    padding-top: 10px;
    margin-right: 100px;
    font-weight: bold;
}


.catalog__product-title{
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.catalog__page{
    display: flex;
    font-size: 13px;
    line-height: 23px;
    max-width: 400px;
    max-height: 100px;
    padding: 10px 13px 10px;
    border: 1px solid #dedede;
    margin-bottom: 20px;
}

.catalog__page__numbers-1{
    display: flex;
    background-color: #46A358;
    color: white;
    font-weight: bold;
    font-size: 13px;
    line-height: 23px;
    max-height: 150px;
    padding: 10px 13px 10px;
    border: 1px solid #dedede;
}

.catalog__footer{
    display: flex;
    margin-left: 70%;
}















